# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
.venv/

# Ignore VS Code settings
.vscode/

# Ignore environment variables / secrets
.env

# Ignore Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Ignore macOS / Windows metadata
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore compiled files
*.so
*.dll
*.exe
*.o
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
wheels/
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDE directories
.idea/

# Miscellaneous
*.swp
*~

.git/info/exclude

# Specific to this project
newberry_metrics.egg-info/
newberry_metrics/test.py